@import "src/styles/variables";

.loading-btn {
   font-size: rem(12px);
   text-transform: uppercase;
   border: none;
   border-radius: 5px;
   width: 100%;
   padding: rem(20px);
   color: #FFFFFF;
   background: $base-blue;
   cursor: pointer;
}
