@import "src/styles/variables";

.tickets {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.ticket {
   padding: 20px;
   background: #FFFFFF;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   width: 100%;
   & + .ticket {
      margin: 10px 0;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      p {
         margin: 0;
         font-weight: 400;
         font-size: 24px;
         line-height: 24px;
         color: $base-blue;
      }
    }

   &__segments {
      .segment {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         min-height: 39px;
         margin: 10px 0;
         p {
            margin: 0;
         }
         .route, .duration, .stops {
            flex-basis: 33.33%;
         }
         .title {
            color: #A0B0B9;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
         }
         .info {
            font-size: 14px;
            line-height: 21px;
            color: $base-text;
         }
      }
   }
}

.loader  {
   animation: rotate 1s infinite;
   height: 50px;
   width: 50px;
   margin: 30px 0;
}

.loader:before,
.loader:after {
   border-radius: 50%;
   content: '';
   display: block;
   height: 20px;
   width: 20px;
}
.loader:before {
   animation: ball1 1s infinite;
   background-color: #cb2025;
   box-shadow: 30px 0 0 #f8b334;
   margin-bottom: 10px;
}
.loader:after {
   animation: ball2 1s infinite;
   background-color: #00a096;
   box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
   0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
   }
   50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
   }
   100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
   }
}

@keyframes ball1 {
   0% {
      box-shadow: 30px 0 0 #f8b334;
   }
   50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
   }
   100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
   }
}

@keyframes ball2 {
   0% {
      box-shadow: 30px 0 0 #97bf0d;
   }
   50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
   }
   100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
   }
}
