@import './src/styles/variables';

*, *:before, *:after {
   box-sizing: border-box;
}

html {
   font: normal normal normal $html-font-size/1.5 'Open Sans', sans-serif;
}

body {

   background: #F3F7FA;
}

header {
   margin: rem(50px) 0 0;
   text-align: center;
}

main {
   margin: 0 auto;
   padding: 0 rem(100px) rem(50px);
   display: flex;
   justify-content: space-between;
   max-width: rem(960px);
   height: auto;
}


.tickets__container {
   width: rem(500px);

}

@media (max-width: 975px) {

   $html-font-size: 10px;

   main {
      padding: 5%;
      display: flex;
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .filters__container {
      margin-bottom: rem(20px);
      margin-right: 0;
   }

   .tickets__container {
      min-width: rem(350px);
      width: auto;
   }

   .sorting-buttons-wrapper {
      flex-direction: column;
      align-items: center;
      border: none;

      button {
         border: 1px solid #DFE5EC;
         border-radius: 5px;
         width: rem(155px);
      }
   }

}

