
*, *:before, *:after {
   box-sizing: border-box;
}

body {
   font: normal normal normal 16px/1.5 'Open Sans', sans-serif;
   background: #F3F7FA;
}

header {
   margin: 50px 0 0;
   text-align: center;
}

main {
   margin: 0 auto;
   padding: 0 100px 50px;
   display: flex;
   justify-content: space-between;
   max-width: 960px;
   height: auto;
}


.tickets__container {
   width: 500px;

}

@media (max-width: 975px) {
   main {
      padding: 10%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .filters__container {
      margin-bottom: 20px;
   }
}
